
allow hal_camera_default shell_exec:file { execute getattr };
allow hal_camera_default toolbox_exec:file getattr;

allow hal_camera_default shell_exec:file { open read };
allow hal_camera_default toolbox_exec:file { execute open read };
